<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="MERCHANT_KEY" value="oZ7oo9"/>
    <add key="SALT" value="UkojH5TS"/>
    <add key="PAYU_BASE_URL" value="https://test.payu.in"/>
    <add key="PAYU_VERIFY_URL" value="https://test.payu.in/merchant/postservice.php?form=2"/>
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
    <!--<add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|SALT"/>-->
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
